{% extends 'entry/base.html' %}

{% block title %} List of user {% endblock %}

{% block content %}

  <div class="card col-lg-6 offset-3">
     <div class="card-header">
     <h2 class="card-title">Users List</h2>
     </div>
     <div class="card-body">

          <ul class="list-group">
            {% for user in object_list %}
              <li class="list-group-item">{{ user.username }} - {{ user.email }} - {{ user.date_joined }}</li>
            {% empty %}
              <li>No users. <a href="{% url 'generate' %}">Generate some random users.</a></li>
            {% endfor %}
          </ul>
     </div>
  </div>
{% endblock %}
